* {
  box-sizing: border-box;
  margin: 0;
}

body {
	background: #efeee7;
	background: url("../images/diamond_upholstery.png");
	font: Helvetica, Arial, 'Helvetica Neue', sans-serif;
	color: #777; 
	height:100%;

}

li {
	display: inline;
	color: #777;
}
 
 li a{
	color: #777;
	text-decoration: none;
}

input{
	padding: 5px;<div<
}

h2{
	color: #4aaaa5;
}
p{
	line-height: 1.2em;
	color: #777;
}

footer{
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
}

#wrapper{
	width: 100%;
	height: 57px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 1px #777 solid;
}

.bigone{
	margin: 0 0 30px;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
	min-height: 100%;
	height:100%;
}

.myNameHeader{
	float:left;
	background: #4aaaa5;
	width: 200px;
	color: #fff;
	font-size: 16px;
	font-family: "Georgia, Times, Times New Roman", serif;
	padding: 20px;
	text-align: center;
	border-bottom: 1px #777 solid;
}

#navigationBar {
	float: right;
	position: relative;
	margin: 20px;  
}

#body{
	margin: center;
	width: 650px;
}

.sidebar {
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 40px;
	}

#bioImage {
	float: left;
	margin: 10px;
	}

.img200 {
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}

.biography{
	clear: both;
	position: relative;
}
.myImage{
	float: left;
	margin-left: 10px;

}
.footer{
	width: 100%;
	margin: 0 auto;
	clear: both;
}

.mainbio{
	background: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float: left;
	border: 1px solid #ddd;
}
}
.contact{
	border: solid 1px;
	width: 610px;
}
.container{
	clear:both;
	float: left;
	border: solid 1px;
	padding: 20px;
	width: 650px;
	background: #fff;
	margin-left: 40px;
	margin-bottom: 20px;
}

.portfolio{
	width: 610px;
	float: left;
	padding: 40px;
	justify-content: center;

}
.connect{
	list-style-type: none;

	
}
.floatLeft{
	float: left;
	
}
.floatLeftmargin{
	margin-left: 10px;

}
.logo{
	width: 60px;
	height: 60px;
}

.imageBox{
	clear: both;
	position: absolute;
	display: inline-block;
  background: #4aaaa5;
  float: left;
  padding: 15px;
  color: #eee;
  font-size: 25px;
  width: 240px;
  margin-top: 100px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  
}
.hangman{
	margin-left: 10px;
	width: 240px;
	height: 220px;

}

.rpg{
	margin-left: 10px;
	width: 240px;
	height: 220px;
}

.trivia {
	margin-left: 10px;
	width: 240px;
	height: 220px;
}

.rocks {
	margin-left: 10px;
	width: 240px;
	height: 220px;
}



@media screen and (max-width: 991px) {
	.sidebar{
		float: left;
		margin-left: 40px;
	}

}
@media screen and (max-width: 768px) {
	.sidebar{
		float: left;
		margin-left: 40px;
	}

}
@media screen and (max-width: 640px) {
	head{
			position: static;
	}

	.sidebar{
		float: left;
		margin-left: 40px;
	}
}

		
